div.item-page--selected-photo {
  width: fit-content;
  flex-shrink: 0;
}

div.item-page--selected-photo > div.photo-container img {
  border: 1px solid var(--line-color);
}

div.item-page--selected-photo > section.name-inputs {
    margin-top: 0.5rem;
    width: 100%; 
}

div.item-page--selected-photo > section.name-inputs div input {
    display: block;
    width: 100%;
    margin-top: 3px;
}

div.item-page--selected-photo > section.name-inputs div label {
    font-size: 0.9rem;
}