div.pagination {
  width: fit-content;
  margin-inline: auto;
  margin-top: 1rem;
  display: flex;
  align-items: center;
}

div.pagination button {
  font-size: 1.2rem;
  line-height: 10px;
  /* border: 1px dotted black; */
}

div.pagination button.icon {
  font-size: 1.5rem;
}

div.pagination button.active {
  background-color: var(--hover-color);
}

div.pagination button:disabled {
  opacity: 0.5;
}

div.pagination button:not(:disabled):hover {
  background-color: var(--hover-color);
}