main.categories-page section.top-row  {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 5px;
}

main.categories-page section.top-row p.header {
  font-size: 1.2rem;
  font-weight: 700;
  margin-bottom: 8px;
}

main.categories-page section.top-row button.add-category-btn {
  font-size: 1.2rem;
}

main.categories-page section.top-row button.add-category-btn:hover {
  background-color: var(--hover-color);
}